@font-face {
    font-family: 'Inconsolata';
    src: url("../fonts/Inconsolata.ttf");
}

@font-face {
    font-family: 'Hack';
    src: url("../fonts/Hack-Regular.ttf");
}

html {
    background-color: rgb(24, 24, 24);
}

body {
    font-family: 'Inconsolata', serif;
    color: rgb(240, 240, 240);
    font-size: 18px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inconsolata', serif;
}

code {
    font-family: "Hack", monospace;
    background-color: #011627;
    color: #82AAFF;
    border-radius: 3px;
    max-width: 100%;
}

pre {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container .header {
    justify-self: flex-start;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 60%;
    line-height: 1.4;
}

.container .content hr {
    width: 100%;
}

.container .content p {
    width: 100%;
}

.container .content img {
    max-width: 100%;
}

.container .content a:link {
    border-bottom: dotted 1px;
    text-decoration: none;
    color: inherit;
}

.container .content a:hover {
    border-bottom: solid;
}

.container .content a:visited {
    color: inherit;
}

.container .content .detail {
    width: 100%;
}

.container .content .detail-left {
    float: left;
}

.container .content .detail-right {
    float: right;
}

.container .footer {
    justify-self: flex-end;
    max-width: 100%;
    overflow: hidden;
}

#headshot {
    margin-top: 10%;
    transition: transform .8s ease-in-out;
}

#headshot:hover {
    transform: rotate(360deg);
}

::selection {
    color: rgb(24, 24, 24);
    background: rgb(240, 240, 240);
}

@media only screen and (max-width: 800px) {
    .container .content {
        max-width: 90%;
    }
}

/* Colors */
.projects {color: #EF5B2E;}
.experience {color: #6296FA;}
.blog {color: #00ab6b;}
.github {color: #8cc665;}
.twitter {color: #6CB5E8;}
.umich {
    background-color: #00274C;
    color: #FFCB0B;
}
.copyright {color: rgb(96, 96, 96);}

/* old */
.facebook {color: #3B5998;}
.linkedin {color: #0077B5;}
.instagram {color: #D33591;}
.here {color: #134291;}
.davra-networks {color: #D87F40;}
.mhacks {color: #FFE641;}
.michigan-hackers {color: #EF5B2E;}
.michigan-sahana {color: #00AFCB;}
.fisi {color: #FFFFFF;}
