@font-face {
  font-family: 'Hack';
  src: url("../fonts/Hack-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
}

html {
    background-color: rgb(24, 24, 24);
}

body {
    font-family: 'Hack', monospace;
    color: rgb(240, 240, 240);
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

pre > code {
    font-family: "Hack", monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container .header {
    justify-self: flex-start;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 90%;
}

@media (min-width: 800px) {
    .container .content {
        max-width: 60%;
    }
}

.container .content hr {
    width: 100%;
}

.container .content img {
    width: 100%;
}

.container .content a:link {
    border-bottom: dotted 1px;
    text-decoration: none;
    color: lightblue;
}

.container .content a:hover {
    border-bottom: solid;
}

.container .content a:visited {
    color: inherit;
}

.container .content .detail {
    width: 100%;
}

.container .content .detail-left {
    float: left;
}

.container .content .detail-right {
    float: right;
}

.container .footer {
    justify-self: flex-end;
    max-width: 100%;
    overflow: hidden;
}

#headshot {
    margin-top: 10%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#headshot:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

::selection {
    color: rgb(24, 24, 24);
    background: rgb(240, 240, 240);
}

/* link colors */
.projects {color: #EF5B2E;}
.experience {color: #6296FA;}
.blog {color: #00ab6b;}
.github {color: #8cc665;}
.twitter {color: #6CB5E8;}
.umich {
    background-color: #00274C;
    color: #FFCB0B;
}

/* old */
.facebook {color: #3B5998;}
.linkedin {color: #0077B5;}
.instagram {color: #D33591;}
.here {color: #134291;}
.davra_networks {color: #D87F40;}
.mhacks {color: #FFE641;}
.michiganhackers {color: #EF5B2E;}
.michigansahana {color: #00AFCB;}
.java {color: #c19d67;}
.python {color: #FFE468;}
.cplusplus {color: #B1B41B;}
.ruby {color: #9b0c02;}
.rails {color: #cc0000;}
.javascript {color: #9DD4DF;}
.css {color: #1FA2D9;}
.html {color: #EE6229;}
.android {color: #7AC15D;}
.fisi {color: #FFFFFF;}
