html {
    background-color: rgb(24,24,24);
}

body {
    font-family: Consolas;
}

a:link {
    text-decoration: underline;
    target: "_blank";
}

a:hover {
    color: white;
}

section {
    margin: auto;
    padding: auto;
    width: 100%;
    text-align: center;
}

.content {
    display: table;
    display: inline-block;
    vertical-align: top;
}

.left_column {
    text-align: right;
    color: white;
    padding: 2vh;
}

.right_column {
    text-align: left;
    color: rgb(176,176,176);
    padding: 2vh;
}

#headshot {
    margin-top: 40px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#headshot:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

#pineapple {
    position: fixed;
    bottom: 2;
    right: 2;
}

/* link colors */
.github {color: #8cc665;}
.resume {color: #fcc21b;}
.facebook {color: #3B5998;}
.twitter {color: #6CB5E8;}
.linkedin {color: #0077B5;}
.instagram {color: #D33591;}
.here {color: #134291;}
.davra_networks {color: #D87F40;}
.mhacks {color: #FFE641;}
.michiganhackers {color: #EF5B2E;}
.michigansahana {color: #00AFCB;}
.umich {
    background-color: #00274C;
    color: #FFCB0B;
}
.java {color: #CB0000;}
.python {color: #FFE468;}
.cplusplus {color: #B1B41B;}
.javascript {color: #9DD4DF;}
.css {color: #1FA2D9;}
.html {color: #EE6229;}
.android {color: #7AC15D;}