<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79702115-1" ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-79702115-1');
  </script>

  <!-- Highligh JS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/night-owl.min.css" >
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js" ></script>
  <script>hljs.highlightAll();</script>

  <!-- Main -->
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="/assets/tree.png" >
  <link rel="stylesheet" type="text/css" href="/css/style.css" >
  <meta name="viewport" content="width=device-width, initial-scale=1" >
</head>
