---
layout: default
---
<head>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/night-owl.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<h1 class="blog">{{ page.title }}</h1>

{{ content }}

<hr />
<div class="detail">
  <span class="detail-left">✏️ {{ page.date | date: "%Y-%m-%d" }}</span>
  <span class="detail-right">🏷️ {{ page.tags | join: ", " }}</span>
</div>
